body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Light background color */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 30%; /* Width of the form container */
    margin: 3% auto; /* Centering the container */
    padding: 20px; /* Padding for the container */
    background-color: #fff; /* White background for form */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.logo_block {
    position: absolute;
    padding: 0;
    margin-top: -20px;
    margin-left: -20px;
}

.logo {
    width: 20%;
    height: auto;
}

.form {
    margin: 0 auto;
    width: 60%;
    padding-bottom: 10px;
}

.form h3 {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 25px;
}

label {
    display: block; /* Block display for labels */
    margin-bottom: 5px; /* Margin below labels */
    font-size: small;
    color: darkslategrey;
    font-weight: 550;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    width: 100%; /* Full width */
    padding: 12px; /* Padding inside inputs */
    margin-bottom: 20px; /* Space below inputs */
    border: 1px solid #ddd; /* Border color */
    border-radius: 8px; /* Rounded corners */
    font-size: 16px; /* Font size */
}
input[type="number"]{
    width: 100%; /* Full width */
    padding: 12px; /* Padding inside inputs */
    margin-bottom: 20px; /* Space below inputs */
    border: 1px solid #ddd; /* Border color */
    border-radius: 8px; /* Rounded corners */
    font-size: 16px; /* Font size */
}
#email{
    text-align: center;
    font-size: small;
}

.account-link {
    margin-top: -5px;
    margin-bottom: 10px; /* Space below the link */
    font-size: small;
}

.account-link a {
    color: #1aa4ce; /* Link color */
    text-decoration: none; /* No underline */
}

.submit-button {
    width: 100%; /* Full width */
    padding: 12px; /* Padding inside button */
    margin: 15px auto;
    background: linear-gradient(to bottom, #1aa4ce, #2772b7); /* Vertical linear gradient */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 8px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor */
    transition: background-color 0.3s; /* Smooth transition */
}

.submit-button:hover {
    background: linear-gradient(to bottom, #1a8bcf, #226fa5); /* Darker gradient on hover */
}
