body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Light background color */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 30%; /* Width of the form container */
    margin: 5% auto; /* Centering the container */
    padding: 10px; /* Padding for the container */
    background-color: #fff; /* White background for form */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.logo_block{
    text-align: center;
}

.logo{
    width: 25%;
    height: auto;
}

.form{
    margin: 20px auto;
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form h3{
    margin-top: 1px;
    margin-bottom: 0;
    font-size:15px;
}

.form h2{
    margin-top: 1px;
    padding-bottom: 20px;
}

label {
    display: block; /* Block display for labels */
    margin-bottom: 5px; /* Margin below labels */
    font-size: small;
    color: darkslategrey;
    font-weight: bold;
}

#email{
    text-align: center;
    font-size: small;
}

input[type="email"], input[type="password"] {
    width: 100%; /* Full width */
    padding: 10px; /* Padding inside inputs */
    margin-bottom: 20px; /* Space below inputs */
    border: 1px solid #ddd; /* Border color */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
}
input{
    width: 100%; /* Full width */
    padding: 10px; /* Padding inside inputs */
    margin-bottom: 20px; /* Space below inputs */
    border: 1px solid #ddd; /* Border color */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
}

.remember {
    margin-bottom: 20px; /* Space below the link */
    display: flex; /* Use flexbox to align items */
    font-size: 12px;
    justify-content: space-between;
    width: inherit;
}

.remember a {
    color: #1aa4ce; /* Link color */
    text-decoration: none; /* No underline */
    margin-right: 10px;
}



.signin-button {
    width: 100%; /* Full width */
    padding: 10px; /* Padding inside button */
    margin: 15px auto;
    background: linear-gradient(to bottom, #1aa4ce, #2772b7); /* Vertical linear gradient */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor */
    transition: background-color 0.3s; /* Smooth transition */
}

.signin-button:hover {
    background: linear-gradient(to bottom, #1a8bcf, #226fa5); /* Darker gradient on hover */
}
